<a href="https://colab.research.google.com/github/pranu393/practice/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Create a null vector of size 10 but the fifth value which is 1.

In [1]:
import numpy as np
a=np.zeros(10)
a[4]=1
print(a)

[0. 0. 0. 0. 1. 0. 0. 0. 0. 0.]

Create a vector with values ranging from 10 to 49.

In [2]:
a=np.arange(10,49)
print(a)

[10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33
 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48]

Create a 3x3 matrix with values ranging from 0 to 8

In [3]:
a=np.arange(9).reshape(3,3)
print(a)

[[0 1 2]
 [3 4 5]
 [6 7 8]]

Find indices of non-zero elements from [1,2,0,0,4,0]

In [4]:
a=np.nonzero([1,2,0,0,4])
print(a)

(array([0, 1, 4]),)

Create a 10x10 array with random values and find the minimum and maximum values.

In [5]:
A=np.random.random((10,10))
Amin,Amax=A.min(),A.max()
print(Amin,Amax)

0.002607822578483354 0.9972923487298891

Create a random vector of size 30 and find the mean value.

In [6]:
A=np.random.random(30)
b=A.mean()
print(b)

0.47279384593492146